/* src/components/PredictVideoPage/PredictVideoPage.css */
.predict-video-page {
  margin-bottom: 40px;
}

.predict-video-page h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.predict-video-page .form-group {
  margin-bottom: 20px;
}

.predict-video-page .btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.predict-video-page .btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

.predict-video-page .alert {
  margin-top: 20px;
}

.predict-video-page .progress-bar-container {
  margin-top: 10px;
  position: relative;
  height: 10px;
  background-color: #e9ecef;
  border-radius: 8px;
  overflow: hidden;
}

.predict-video-page .progress-bar-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.predict-video-page .progress-bar-segment {
  position: absolute;
  height: 100%;
  border-radius: 0;
}

.predict-video-page .legend-item {
  display: flex;
  align-items: center;
}

.predict-video-page .color-box {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 10px;
  border-radius: 4px;
}

.predict-video-page .progress-bar-segment.accepted {
  background-color: #28a745;
}

.predict-video-page .progress-bar-segment.rejected {
  background-color: #dc3545;
}

.predict-video-page .progress-bar-container .legend {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  font-size: 1rem;
}


.predict-video-page .color-box.green {
  background-color: #28a745;
}

.predict-video-page .color-box.red {
  background-color: #dc3545;
}

.predict-video-page .video-preview {
  margin-top: 20px;
}

.predict-video-page .video-preview h4 {
  font-size: 1.25rem;
  margin-bottom: 10px;
}

.predict-video-page .frame-preview {
  margin-top: 20px;
}

.predict-video-page .frame-preview h4 {
  font-size: 1.25rem;
  margin-bottom: 10px;
}

.predict-video-page .frame-preview img.small-image {
  max-width: 400px;
  max-height: 400px;
  width: auto;
  height: auto;
  border: 2px solid #ffffff;
  border-radius: 8px;
}

.indicator {
  margin-bottom: 20px;
}

.indicator .indicator-alert {
  padding: 10px 20px;
  font-size: 1.25rem;
  display: flex;
  align-items: center;
}

.indicator .indicator-alert i {
  margin-right: 10px;
  font-size: 1.5rem;
}

.indicator-icon {
  margin-right: 10px;
  font-size: 1.5rem;
}
